body {
  background-color: rgb(245, 245, 234);
}

#introduction {
  width: 50%;
  margin: auto;
}

#text1 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  text-align: center;
  font-variant: small-caps;
}

#text2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 3%;
  color: red;
}

#text9 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 3%;
}

#text3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  margin-bottom: 3%;
  color: rgb(85, 4, 161);
}

#formulaLink {
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  font-size: 150%;
}

#text4 {
  padding-top: 3%;
}

#text5 {
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 130%;
}

#text6 {
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 5%;
}

#chart {
  /* background-color: white; */
  height: 100%;
  margin: auto;
  padding: auto;
  text-align: center;
}

#result {
  width: 99%;
  margin-bottom: 5%;
  border-style: solid;
  border-width: 1px;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 1%;
}

#resultTable {
  width: 40%;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
}

#resulttxt {
  width: 40%;
  height: 190px;
  float: right;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

#txt {
  background-color: rgb(221, 218, 218);
  border-style: none;
  width: 100%; 
  height: 100%;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  margin-bottom: 5%;
}

#wiki {
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  font-size: 120%;
}

#steal {
  padding-top: 5%;
}

#bust {
  padding-bottom: 5%;
}

#resultOps {
  display: block;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

#endtxt {
  display: block;
  z-index: 1;
  position: relative;
  overflow: hidden;
  width: 50%;
  margin: auto;
}

#text7 {
  margin-bottom: 3%;
}

#text8 {
  font-variant: small-caps;
  font-size: 60%;
}
